.event
  &__description
    display: inline-block
    max-width: 80%
    margin-left: 0.5em
  &__date
    vertical-align: top
    display: inline-block
  &__title
    +h1
    margin-top: 0.1em
    display: inline-block
